/*--
    15. Footer Css
-------------------------*/
.footer-top {
    background: #1b1b1b;
    
  
    
}
.footer {
    &-logo {
        margin-bottom: 28px;
    }
    
    &-dec{
        color: $white;
        font-size: 16px;
        padding-right: 10px;
    }
    
    &-block {
        position: relative;
        padding-left: 20px;
        @media #{$large-mobile,$desktop-device}{
            padding-left: 0;
        }
        & > h5 {
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 40px;
            @media #{$large-mobile}{
                margin-bottom: 25px;
            }
        }
    }
    
    &-list {
        & li {
            color: $white;
        }
    }
    
}

.footer-social-link {
    margin-top: 35px;
    @media #{$tablet-device,$large-mobile,$desktop-device}{
        margin-top: 25px;
    }
    
    & li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        & a {
            border: 2px solid $theme-color;
            height: 35px;
            width: 35px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            display: block;
            border-radius: 50%;
            color: $theme-color;
            &:hover {
                background: $theme-color;
                color: $white;
            }
        }
    }
}

.footer-courses {
    & li {
        padding-top: 5px;
        margin-bottom: 20px;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    & .courses {
        &-image {
            & img { 
                border-radius: 10px;
            }
            min-width: 70px;
            margin-right: 10px;
        }
        
        &-nifo {
            & h5 {
                font-size: 16px;
                font-weight: 600;
                color: $white;
                margin-bottom: 5px;
            }
            & p {
                color: #6d6d6d;
            }
        }
        
    }
}

.newsletter {
    &-wrap {
        & p{
            color: $white;
            margin-bottom: 20px;
        }
    }
}

.newsletter-input-box {
    position: relative;
    & input {
        width: 100%;
        background: #2a2a2a;
        border-radius: 5px;
        border: none;
        color: $white;
        padding: 5px 50px 5px 10px;
        font-size: 12px;
    }
    .newsletter-button {
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        background: $theme-color;
        color: $white;
        border-radius: 0 5px 5px 0;
        padding: 4.5px 14.2px;
        &:hover{
            background: #333;
        }
    }
}
.footer-bottom {
    background: #0a0a0a;
    & .copy-right {
        & span{
            color: $theme-color;
        }
    }
}
