/*--
    - Fullcalendar
--------------------------------------*/
.fullcalendar {
    // Toolbar
    & .fc-toolbar {
        // Button
        & .fc-button {
            height: auto;
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 0;
            padding: 3px 12px;

            border-color: #DDDDDD;
            background-color: transparent;
            background-image: none;
            box-shadow: none;
            text-shadow: none;

@extend .btn;

@extend .btn-sm;

            &:hover {
                color: $white;
                border-color: $primary;
                background-color: $primary;
            }
            & .fc-icon {
                font-family: inherit;

                margin: 0;
                &.fa {
                    font-family: $icon-fontawesome !important;
                }
                &[class*="ti"] {
                    font-family: $icon-themify !important;
                }
                &.zmdi {
                    font-family: $fontAwesome !important;
                }
                &.crypto {
                    font-family: $icon-cryptocurrency !important;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &.fc-state-active {
                color: $white;
                border-color: $primary;
                background-color: $primary;
            }
        }
        // Title
        & h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
        }
        & .fc-left {
        }
        & .fc-right {
        }
        & .fc-center {
        }
    }
    // View Container
    & .fc-view-container {
        // Event
        & .fc-event-container {
            & .fc-event {
                padding: 3px 5px;

                border-color: transparent;
                border-radius: 3px;
                background-color: #DDDDDD;
                & .fc-content {
                    padding-bottom: 1px;
                }
                &.fc-event-primary,
                &.fc-event-secondary,
                &.fc-event-success,
                &.fc-event-danger,
                &.fc-event-warning,
                &.fc-event-info {
                    color: $white;
                }
                &.fc-event-primary {
                    background-color: $primary;
                }
                &.fc-event-secondary {
                    background-color: $secondary;
                }
                &.fc-event-success {
                    background-color: $success;
                }
                &.fc-event-danger {
                    background-color: $danger;
                }
                &.fc-event-warning {
                    background-color: $warning;
                }
                &.fc-event-info {
                    background-color: $info;
                }
            }
        }
        & .fc-day-grid-event {
            margin: 5px 5px 0;
        }
    }
    // Responsive
    @media #{$small-mobile} {
        & .fc-toolbar {
            display: flex;
            flex-wrap: wrap;

            margin-bottom: 0;
            & > * {
                display: flex;
                flex: 1 0 100%;
                flex-wrap: wrap;
                justify-content: center;

                margin-bottom: 15px;
            }
            & h2 {
                display: block;
                float: none;
            }
            & h2 {
                display: block;
                float: none;
            }
            & .fc-left {
                order: 3;
            }
            & .fc-right {
                order: 2;
            }
            & .fc-center {
                order: 1;
            }
            & .fc-clear {
                display: none;
            }
        }
    }
}
