/*--
    - Breadcrumb Style
------------------------------------------*/

/*---- Breadcrumb One ----*/
.breadcrumb-area {
    padding: 78px 0;
    @media #{$large-mobile}{
        padding: 60px 0;
    }
    & h3 {
        font-size: 50px;
        font-weight: 700;
        margin-top: -5px;
        font-weight: 600;
        color: $white;
        @media #{$tablet-device}{
            font-size: 26px;
        }
        @media #{$large-mobile}{
            font-size: 26px;
        }
    }
}
.breadcrumb-list {
    & .breadcrumb-item {
        font-size: 14px;
        color: $white;
        text-transform: capitalize;
        line-height: 1;
        display: inline-block;
        &.active {
            color: $white;
        }
        & a {
            &:hover {
                color: $theme-color;
            }
        }
    } 
}

.breadcrumb-item + .breadcrumb-item {
    &::before {
        color: $white;
        content: ">";
        display: inline-block;
        padding-right: 10px;
    }  
}
    

